[project]
	description = for testing purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kumar14323
[access "refs/for/refs/*"]
	read = group user/kumar14323
	push = group user/kumar14323
	label-Code-Review = -2..+2 group user/kumar14323
	label-Verified = -1..+1 group user/kumar14323
	rebase = group user/kumar14323
	removeReviewer = group user/kumar14323
	submit = group user/kumar14323
[access "refs/heads/*"]
	read = group user/kumar14323
	create = group user/kumar14323
	push = +force group user/kumar14323
	pushMerge = group user/kumar14323
[access "refs/tags/*"]
	push = group user/kumar14323
	push = +force group user/kumar14323
